/*  */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.item-flex {
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

.panel-1 {
    /* border: 2px solid ; */
    background-color: #2b557b;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 5px 10px 50px;
}

.panel-2 {
    /* border: 2px solid ; */
    background-color: #2b557b;
    max-width: 90%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 5px 10px 50px;
    padding: 10px 0px;
}

.panel-1 > .item-flex > p, 
.panel-2 > .item-flex,
.panel-2 > * {
    font-size: 1.2em;
    color: white;
}

.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    max-width: 40%;
}
.eu-img {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    height: 30%;
    max-width: 30%;
    border-radius: 50%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.nome-titulo {
    display: block;
    font-size: 1.5em;
    margin: 5px 2px 40px;
}

footer {
    height: 80px;
    background-color: #2b557b;
    position: relative;
    max-width: 1200px;
    display: block;
}

footer > span {
    position: absolute;
    right: 5px;
    bottom: 10px;
    color: white;
}

body h2, body h3 {
        margin: 0 10px;
}

body p {
        margin: 10px 15px;
}

.panel-2 h2 {
    font-size: 1.6em;
}

.panel-2 a {
    text-decoration: none;
    color: white;
    font-style: italic;
}

.panel-2 a:visited {
    text-decoration: none;
}

body {
    background-image: url(../img/matthew-mcbrayer-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}